.Modal-container
  background: var(--light-bg-overlay)
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0

  display: flex
  align-items: end
  justify-content: center

.Modal-container--center
  align-items: center

.Modal
  background: var(--bg-main)
  border-radius: 1rem 1rem 0 0
  padding: 2rem
  min-width: 300px
  max-width: 500px
  max-height: 90vh
  color: var(--text-heading)
  box-shadow: 0 -4px 16px var(--shadow-main)
  display: flex
  flex-direction: column

.Modal-content
  flex: 1 1 auto
  overflow: auto

.Modal-footer
  margin-top: 1.5rem
  text-align: center
  padding-top: 1rem
  border-top: 1px solid var(--border-light)
  justify-content: flex-end

.Modal input,
.Modal select,
.Modal textarea
  background-color: var(--bg-input)
  border: 1px solid var(--border-main)
  color: var(--text-main)
